#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(53, 230, 47);
}

#circle {
    width: 120px;
    height: 120px;
    background: #2bf768;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    margin: -50px 0 10px 200px;
}

#square {
    width: 120px;
    height: 120px;
    background: #f447ff;
}

#rectangle {
    width: 220px;
    height: 120px;
    background: #4da1f7;
    margin: 10px 0 10px 350px;
}

#oval {
    width: 200px;
    height: 100px;
    background: #e9337c;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}

#diamond {
    width: 120px;
    height: 120px;
    background: #94e6fa;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 20px 0 10px 700px;
}

#trapezium {
    height: 0;
    width: 120px;
    border-bottom: 120px solid #9cf32a;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

#parallelogram {
    width: 160px;
    height: 100px;
    background: #290855;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    margin: 0px 0 10px 400px;
}

#star {
    width: 0;
    height: 0;
    margin: 50px 0;
    color: #fcf969;
    position: relative;
    display: block;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #fcf969;
    border-left: 100px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    margin: 60px 0 10px 100px;
}

#star:before {
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    top: -45px;
    left: -65px;
    border-bottom: 80px solid #fcf969;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

#star:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    color: #fcf969;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #fcf969;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
}
